// Media Queries
$screen-small: 320px;
$screen-medium: 767px;
$screen-large: 1000px;

// Color
$background-color: #dae0e6;
$delete-button-color: #212529;
$color-blue: #007bff;
$border-gray: #949494;
$table-border: #dee2e6;